body {
  margin: 0;
  font-family: sans-serif;
 
  /* box background */
/* background-color: #d5c29e; */
 background-image: url("assets/img/bg.png"); 
background-repeat: repeat;  

}

p, h1, h2 {
  color: white;   
}

nav {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}
