@property --angle{
   Syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
} 
. hero-btn::before,.hero-btn::after{
   content: ' ';
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: comic-gradient (from var, transparent 50%, #fff) ;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   z-index: 5;
   padding: 10px;
   border-raduis: 10px;
   animation: 3s spin linear infinite;
} 

.hero-btn::before{
   filter: blur(1.5rem);
   opacity: 0.5;
}

@keyframe spin{
from {
    --angle: 0deg;
 } 
to {
    --angle: 360deg;
  } 
} 



  
